// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*{
    font-size: 16px;
    line-height: 2;
}

.nav-color{
    background-color: #81A263;
}

.brand-color{
    border: 2px solid #E7D37F;
}

.main-color{
    background-color: #E7D37F;
}

.footer-color{
    background-color: #FD9B63;
}

.pb-60{
    padding-bottom: 60px;
}

.minh-100{
    min-height: 100vh;
}

.i{
    font-size: 16px;
    font-weight: 700;
}

.error{
    color: red;
}